:root {
    --primary-text-color: #757575;
    --tittle-text-color:  #212121;
    --accent-color:  #2196F3;
    --primary-color: #F5F4FA;
    --primary-background-color:#FFFFFF; 
    --secondary-background-color: #2F303A;
    --color-text-action: #FFFFFF;
    --black-color: #000000;
    --font-family: inherit;
    --text-color-rjb: rgba(255, 255, 255, 0.6);
    --border-color: 1px solid #EEEEEE;
    --color-icon: #AFB1B8;
    --background-color-hover: #188CE8;
}
