.header-menu {

    &__item {
        color: var(--tittle-text-color);
        position: relative;
        margin-left: 50px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.header-menu__item--current {
    color: var(--accent-color);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        bottom: -1px;
    }
}
.header-menu__list{
    display: flex; 
    list-style-type: none;

    & .header-menu__item:first-child {
        margin-left: 0px;
    }
}
.header-menu__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: opacity, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: inherit;
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        bottom: -1px;
        transition-property: opacity, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    }
    
    &:hover::after {
        opacity: 1;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



